* {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    border-bottom: 3px solid yellow;
}

.navbar {
    padding-bottom: 15px;
    margin-top: -38px;  
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    display: flex;
}

.redes {
    margin-top: 10px;
    display: flex;
}

.logo {
    width: 116px;
    height: 75px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 1px;
    box-shadow: 4px 4px 4px 2px gray;
}

.logo2 {
    width: 138px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 7px 7px 7px 3px gray;
    display: none;
}

.redes_link {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#navbarNavAltMarkup img {
    width: 32px;
    padding: 3px; 
}


.container_mae {
    height: 12vh;   
    width: 100vw;
    background-color: rgb(247, 247, 171);
    box-sizing: content-box;
    align-items: center;
}

.container {
    color: rgb(160, 7, 7);
    padding-top: 20px;
    width: 100vw;
    margin-right: 40px;
    border-top: 3px solid yellow;
}

.cta {
    margin-bottom: 5px;
}

h2 {
    font-size: 20px !important;
    color: rgb(160, 7, 7);
    text-align: center;
    line-height: 2.5;
}

h3 {
    font-size: 1.4rem !important;
    }

p {
    font-size: 10px;
}

.formas {
    color:rgb(160, 7, 7);
    line-height: 1.0;
    width: 40vw;
    font-size: 17px;
    font-weight: 500;
    margin-right: 35px; 
}

.formas > p {
    font-size: 1.2rem;
}

.bandeiras {
    width: 67%;
    border-radius: 10px;
}

.contato_pagamento {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: white;
    font-size: 15px;
    border-top: 3px solid  yellow;
    padding-top: 10px;
    text-align: center; 
}

footer > p {
    color: #212529;
    font-size: 10px;
}


/* MEDIA QUERIES */
@media (min-width: 768px) { 
    .navbar {
        padding-bottom: 40px;
    }

    .logo {
        width: 155px;
        height: 96px;
    }

    .navbar-toggler {
        padding: 1.25rem 1.75rem;
        font-size: 1.25rem;
        line-height: 2;
        background-color: transparent;
        border: 4px solid transparent;
        border-radius: 0.25rem;
    }
    
    .container_mae {
        height: 20vh; 
    }
    
    .container > h3 {
        font-size: 2.1rem;
        font-weight: 500;
    }

    .bandeiras {
        width: 65%;
    }

    p {
        font-size: 1.4rem;
    }

    .formas {
        margin-left: 57px;
        font-size: 23px;
    }

    .logo2 {
        display: none;
    }

    footer > p {
        font-size: 18px;
        margin-right: 5px;
        margin-left: -22px;
    } 
}

/* MEDIA QUERIES DA NAV */
@media (min-width: 500px) {
    .block-min-width-500 {
        display: none;
    }
}

@media (max-width: 500px) {
    .block-max-width-500 {
        display: none;
    }
}   
