* {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    border-bottom: 3px solid yellow;
}

.navbar {
    padding-bottom: 15px;
    margin-top: -38px;
   
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    display: flex;
}

.redes {
    margin-top: 10px;
    display: flex;
}

.logo {
    width: 116px;
    height: 75px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 1px;
    box-shadow: 4px 4px 4px 2px gray;
}

.logo2 {
    width: 138px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 7px 7px 7px 3px gray;
    display: none;
}

.redes_link {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#navbarNavAltMarkup img {
    width: 32px;
    padding: 3px; 
}

.cta {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-produtos {
    text-transform: uppercase;
    background-color: rgb(160, 7, 7);
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    margin-top: 11px;
    text-align: center;
}

.p_cta-produtos {
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
    text-align: center; 
}

.cta-produtos:hover {
    background-color: #36AC31;
    text-decoration: none;
    color: #ffffff;
}


.container_mae {
    height: 25vh;   
    width: 100vw;
    background-color: rgb(247, 247, 171);
    box-sizing: content-box;
    align-items: center;
}


.container {
    color: rgb(160, 7, 7);
    padding-top: 20px;
    width: 100vw;
    margin-right: 40px;
    border-top: 3px solid yellow;
}

h2 {
    font-size: 20px !important;
    color: rgb(160, 7, 7);
    text-align: center;
    line-height: 2.5;
}
h3 {
    font-size: 1.4rem !important;
    }

p {
    font-size: 10px;
}

.p_historia {
    font-size: 15px ;
}

.pagamento {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formas {
    color:rgb(160, 7, 7);
    line-height: 1.0;
    width: 40vw;
    font-size: 17px;
    font-weight: 500;
    margin-right: 35px; 
}

.formas > p{
    font-size: 1.2rem;
}

.bandeiras {
    width: 67%;
    border-radius: 10px;
}

.contato_pagamento {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: white;
    font-size: 12px;
    border-top: 3px solid  yellow;
    padding-top: 10px;
    text-align: center; 
}

footer > p {
    color: #212529;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .cta {
        margin-bottom: 15%;
    }

    .p_cta-produtos {
        padding: 20px;
        margin-top: 50px;
        text-align: center; 
    }

    .logo2 {
        display: none;
    }
    
    .trajetoria-foto {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .trajetoria-foto__imagem {
        width: 312px;
        height: 480px;
        display: flex;
        align-items: center; 
        margin-left: -35px;
}


.p_historia {
    margin-top: 20px;
} 

}

@media (max-width: 540px) {
    .cta {
        margin-bottom: 20%;
    }
}

@media (max-width: 440px) {
    .historia {
        width: 90%;
    }

    .trajetoria-foto__imagem {
         width: 384px;  
         height: 424px;
         margin-left: -122px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        margin: 0;
        color: #6b6a6a;
        padding-bottom: 16px;
    }

    .cta {
        margin-bottom: 25%;
    }

    .logo2 {
        display: none;
    } 
}

@media (min-width: 375px) {

    h3 {
        font-size: 17px;
        }
    
    .cta {
        margin-bottom: 30%;
    }

    .logo2 {
        display: none;
    }

    footer > p {
        font-size: 10px;
    }
}

/* MEDIA QUERIES DA NAV */
@media (min-width: 500px) {
    .block-min-width-500 {
        display: none;
    }
}

@media (max-width: 500px) {
    .block-max-width-500 {
        display: none;
    }
}

@media (min-width: 768px) {
    .block-max-width-992 {
        display: none;
    }
    .trajetoria-foto__imagem {
        width: 350px;
       
    } 
}

/* BOTÃO SCROLL */

.smoothscroll-top {
    position:fixed;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    text-align:center;
    z-index:99;
    background-color:#dea257;
    color:#fff;
    width:47px;
    height:44px;
    line-height:44px;
    right:25px;
    bottom:-25px;
    padding-top:2px;
    border-radius:5px;
    transition:all .5s ease-in-out;
    transition-delay:.2s;
}
    
.smoothscroll-top:hover {
    background-color:#dea257;
    color:#fff;
    transition:all .2s ease-in-out;
    transition-delay:0;
}
    
.smoothscroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:60px;
}
    
.smoothscroll-top i.fa {
    line-height:inherit;
}
