* {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    padding-bottom: 15px;
    margin-top: -38px; 
}

.cor_nav {
    background-color: rgb(247, 223, 178);
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    display: flex;
}

.redes {
    margin-top: 10px;
    display: flex;
}

.carousel-item {
    height: 205px;
}


.logo {
    width: 116px;
    height: 75px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 1px;
    box-shadow: 4px 4px 4px 2px gray;
}

.logo2 {
    width: 138px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 7px 7px 7px 3px gray;
    display: none;
}

.redes_link {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.cta {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-produtos {
    text-transform: uppercase;
    background-color: rgb(160, 7, 7);
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    margin-top: 11px;
    text-align: center;
}

.p_cta-produtos {
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
}

.cta-produtos:hover {
    background-color: #36AC31;
    text-decoration: none;
    color: #ffffff;
}

#navbarNavAltMarkup img {
    width: 32px;
    padding: 3px; 
}

.cardapio {
    height: 300px;
}

.cardapio_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardapio2 {
    width: 100vw;
    height: 302px;
    display: flex;
    border-radius: 10px;
}

.cardapio3 {
    margin: 5px 5px;
    height: 70px;
    display: flex;
}

.cardapio_opcoes {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color:white;
    text-align: left;
    padding: 5px;  
}

.link {
    background-color: rgb(160, 7, 7);
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 8px;
    text-align: center;
}

.container_mae {
    height: 25vh;   
    background-color: rgb(247, 223, 178);
    box-sizing: content-box;
    align-items: center;
}

.container {
    color: rgb(160, 7, 7);
    padding-top: 20px;
    margin-right: 40px;
}

h2 {
    font-size: 20px !important;
    color: rgb(160, 7, 7);
    text-align: center;
    line-height: 2.5;
}

h3 {
    font-size: 1.4rem !important;
    }

p {
    font-size: 10px;
}

.formas {
    color:rgb(160, 7, 7);
    line-height: 1.0;
    width: 40vw;
    font-size: 17px;
    font-weight: 500;
    margin-right: 35px; 
}

.formas > p{
    font-size: 1.2rem;
}

.bandeiras {
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px
}

footer {
    background-color: white;
    font-size: 12px;
    border-top: 3px solid  yellow;
    padding-top: 10px;
    text-align: center; 
}

footer > p {
    color: #212529;
    font-size: 10px;
}

    /* MEDIA QUERIES */

@media (min-width: 768px) {
    .carousel-item {
        height: 432px;
    }

    .cta {
        margin-bottom: 15%;
    }
    
    .cta-produtos {
        font-size: 24px;
    }

    .p_cta-produtos {
        padding: 20px;
        margin-top: 50px;
        text-align: center; 
    }

    .logo2 {
        display: none;
    }

    .cardapio2 {
        height: 430px;
    }

    .cardapio_opcoes {
        flex-direction: column;
        display: flex;
        padding: 5px;
    }

    .botao_cardapio {
        margin-top: 135px;
    }

    .container_mae {
        height: 200px;
    }

    .trajetoria-foto {
        width: 50%;
        display: flex;
        align-items: center;
    }

}

@media (min-width: 1240px) {  
    .redes_link {
        display: flex;
        flex-direction: row;
        padding: 4px;
    }
    
    .container_car-btn {
        display: flex;
        height: 262px;
        margin-right: 274px;
    }

    .carousel-item {
        height: 375px;
        object-fit: cover;
        padding-top: 14px;
    }
    
    .carouselExampleFade {
        display: flex;
        flex-direction: row;
    }

    .cardapio_container {
        display: flex;
    }
    
    .cardapios {
        display: flex;
        flex-direction: row;
        margin-top: -55px;
    }

    .botao_cardapio {
        width: 336px;
    }

    .cta-produtos {
        font-size: 20px;
    }

    .cardapio2 {
        width: 50vw;
        margin-top: 60px;
    }

    .cardapio3 {
        width: 50vw;
    }

    .cardapio_pagamento{
        display: flex;
        flex-direction: row;
        margin-top: -57px;
    }

    .container_mae {
        height: 19vh;
        margin-top: 130px;
        width: 100%;
        display: flex;
        margin-bottom: -136px;
    }

    .container {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        margin-top: 45px;
    }

    .bandeiras {
        padding: 20px;
    }

    .formas {
        margin-right: -472px
    }

    footer {
        margin-top: 136px;
    }
}

@media (max-width: 540px) {
    .cta {
        margin-bottom: 20%;
    }
}

@media (max-width: 440px) {
    .logo2 {
        display: none;
    } 
}



/* MEDIA QUERIES DA NAV */
@media (min-width: 500px) {
    .block-min-width-500 {
        display: none;
    }
}

@media (min-width: 362px) {
    .block-max-width-500 {
        display: none;
    }
}

@media (min-width: 768px) {
    .block-max-width-992 {
        display: none;
    }
}
